{% extends 'base.html' %}
{% block title %}News List{% endblock %}

{% block content %}
    <div class="container">
        <h4 class="mt-3 mb-3 text-center">News List</h4>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Headline</th>
                <th scope="col">Source</th>
                <th scope="col">Country</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for n in news %}
                <tr>
                    <th scope="row">{{ n.id }}</th>
                    <td>{{ n.headline }}</td>
                    <td>{{ n.source_name }}</td>
                    <td>{{ n.country_code }}</td>
                    <td>
                        <div>
                            <a href="{% url 'view_news' id=n.id %}">
                                <button class="btn btn-primary">View</button>
                            </a>

                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}