{% extends 'base.html' %}
{% block news_pref %}
    {% if news_pref %}
        Update Preference
    {% else %}
        Create News Preference
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <h4 class="mt-3 mb-3 text-center">Create News Preference</h4>
        <form method="post">
            {% if news_pref %}
                <div class="form-group">
                    <label>Countries</label>
                    <input type="text" class="form-control" placeholder="Countries" name="countries" value="{{ news_pref.countries }}">
                </div>
                <div class="form-group">
                    <label>News Sources</label>
                    <textarea class="form-control" rows="4" name="sources"
                              placeholder="Sources">{{ news_pref.sources}}</textarea>
                </div>
                 <div class="form-group">
                    <label>Newsletter Keywords</label>
                    <textarea class="form-control" rows="4" name="search_words"
                              placeholder="Search Words">{{ news_pref.search_words}}</textarea>
                </div>
                <div>
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            {% else %}
                <div class="form-group">
                    <label>Countries</label>
                    <input type="text" class="form-control" placeholder="Countries" name="countries">
                </div>
                <div class="form-group">
                    <label>News Sources</label>
                    <textarea class="form-control" rows="4" name="sources" placeholder="Sources"></textarea>
                </div>
                <div class="form-group">
                    <label>Newsletter Keywords</label>
                    <textarea class="form-control" rows="4" name="search_words" placeholder="Search Words"></textarea>
                </div>
                <div>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            {% endif %}

        </form>
    </div>
{% endblock %}