{% extends 'base.html' %}
{% block title %}Note List{% endblock %}

{% block content %}
    <div class="container">
        <h4 class="mt-3 mb-3 text-center">Details News</h4>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Image</th>
                <th scope="col">Headline</th>
                <th scope="col">Source Name</th>
                <th scope="col">Country</th>
                <th scope="col">URL</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">{{ news.id }}</th>
                <td><img src="{{ news.url_to_image }}" height="50" width="50" alt="thumbnail JPG"></td>
                <td>{{ news.headline }}</td>
                <td>{{ news.source_name }}</td>
                <td>{{ news.country_code }}</td>
                <td><a href="{{ news.url }}">Read More</a></td>

            </tr>
            </tbody>
        </table>

    </div>
{% endblock %}