{% extends 'base.html' %}
{% block title %}
    Welcome
{% endblock %}

{% block content %}
    <div class="container">
        <h4 class="mt-3 mb-3 text-center">Welcome Home</h4>
        <ul class="list-group">
            <a href="{% url 'settings' %}">
                 <li class="list-group-item" style="margin-top: 10px;">News Settings</li>
            </a>
        </ul>
    </div>
{% endblock %}