{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <h4 class="mt-3 mb-3 text-center">User Login</h4>
        <form method="post">
            <div class="form-group">
                <label>User Name</label>
                <input type="text" class="form-control" placeholder="Enter Username" name="username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
